// Variables de colores y espaciado
@primary-color: darkblue;
@text-color: #333;
@spacing: 20px;
@justify: center;
@align: center;

.flex-center(@display: flex; @justify: center; @align: center) {
    display: @display;
    justify-content: @justify;
    align-items: @align;
}